<header>
  <link rel="stylesheet" href="/css/stylesheet.scss"></link>

  <title>{{ page.title }}</title>
</header>
<body>
  <div class="post">
    <div class="post-date">{{ page.date | date_to_string }}</div>
    <h1 class="post-title">{{ page.title }}</h1>

    <div class="post-content">
      {{ content }}
    </div>

    <div class="post-categories">
      Categories:
      {% for category in page.categories %}
        <a href="/categories/{{ category }}.html">{{ category }}</a>
      {% endfor %}
    </div>
  </div>
</body>
